In [ ]:
Removing whitespaces from strings.

In [1]:
name = "saima"

In [2]:
print(name)

saima

In [3]:
name2= "  saima"

In [4]:
print(name2)

  saima

In [5]:
name3= "saima  "

In [6]:
print(name3)

saima

In [7]:
name2.lstrip()   # left stripping

'saima'

In [8]:
name3.rstrip()   # right stripping

'saima'

In [9]:
x = "  khansa  "

In [10]:
print(x)

  khansa

In [11]:
x.strip()  # removes spaces from both left and right sides of the string but it takes time as it searches for where spaces exist

'khansa'

In [ ]:
#Introduction to list data type

In [ ]:
definition: A list is an collection of items in a particular order 
classification: it is classified as an mutable data type
How to define the list data type ----?  =====> []

In [12]:
students = ['chitra', 'Naveen', 'aribia', 'imran', 'mathew', 'saranya', 'suresh']

In [13]:
print(students)

['chitra', 'Naveen', 'aribia', 'imran', 'mathew', 'saranya', 'suresh']

In [14]:
type(students)   # to check the data type of of students variable

list

In [ ]:
# How to access the elements from the above list ...?

In [ ]:
#Introduction to Indexing. The order is maintained using indexing.
Indexing will be starting from 0,1,2,3,.......

In [ ]:
# req: I want to access Naveen name in the output

In [16]:
print(students[1])

Naveen

In [17]:
print(students[2].title())

Aribia

In [ ]:
1. How to add New elements to the list
2. How to modify the elements in the list
3. How to delete the elements in the list

In [ ]:
1. How to add New elements to the list
#req: I want to add madhavi to the students list...?

In [18]:
students.append('madhavi')

In [19]:
print(students)

['chitra', 'Naveen', 'aribia', 'imran', 'mathew', 'saranya', 'suresh', 'madhavi']

In [20]:
students.append('saima')

In [21]:
print(students)

['chitra', 'Naveen', 'aribia', 'imran', 'mathew', 'saranya', 'suresh', 'madhavi', 'saima']

In [ ]:
#req: I want to add asma name at the 2nd index position.

In [22]:
students.insert(2,'asma')

In [23]:
print(students)

['chitra', 'Naveen', 'asma', 'aribia', 'imran', 'mathew', 'saranya', 'suresh', 'madhavi', 'saima']

In [24]:
print(students[2])

asma

In [ ]:
#interview question: what is the difference between append and insert methods in a list.....

In [ ]:
2. How to modify the elements in the list
# req: modify naveen name to vamsi

In [25]:
students[1]= 'vamsi'  #reassignment and modified the list

In [26]:
print(students)

['chitra', 'vamsi', 'asma', 'aribia', 'imran', 'mathew', 'saranya', 'suresh', 'madhavi', 'saima']

In [ ]:
3. How to delete the elements in the list
#req: I want to delete suresh name from the above list.

In [27]:
del students[7]

In [28]:
print(students)

['chitra', 'vamsi', 'asma', 'aribia', 'imran', 'mathew', 'saranya', 'madhavi', 'saima']